@use 'base/variables';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	padding: 0; // Seznam.cz hack
	text-align: left;
	font-weight: bold;
	color: variables.$color-text; // v některých webových klientech se musí nastavovat explicitně
	font-family: variables.$font-family; // v některých webových klientech se musí nastavovat explicitně
	margin: 30px 0 10px;
	&:first-child {
		margin: 0 0 10px;
	}
}
h1,
.h1 {
	font-size: 30px;
	line-height: 38px;
}
h2,
.h2 {
	font-size: 28px;
	line-height: 36px;
}
h3,
.h3 {
	font-size: 24px;
	line-height: 32px;
}
h4,
.h4 {
	font-size: 20px;
	line-height: 28px;
}
h5,
.h5 {
	font-size: 16px;
	line-height: 22px;
}
ul,
p {
	margin: 0 0 20px;
}
ul {
	padding: 0 0 0 20px;
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}
a {
	color: variables.$color-primary;
}

.t-table {
	td,
	th {
		padding: 5px 0 5px 20px;
		&:first-child {
			padding-left: 0;
		}
	}
}
