// colors
$color-text: #000000;
$color-primary: #3CDBC0;
$color-secondary: #9B26B6;

$color-bg: #f9f9f9;
$color-bd: #dddddd;

// fonts
$font-family: Arial, Helvetica, sans-serif; // https://www.cssfontstack.com/
$font-size: 14px;
$line-height: 20px;

// Layout
$container-width: 600px;
