{% extends '@layout/layout.twig' %}

{% block content %}

	{% include '@components/t-content.twig' %}

	<table class="t-grid rwd-block-table" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td class="t-grid__col u-w-50p">
					<!-- / component place -->
				</td>
				<td class="t-grid__col t-grid__col--gutter"></td>
				<td class="t-grid__col u-w-50p">
					<!-- / component place -->
				</td>
			</tr>
		</tbody>
	</table> <!-- / t-grid -->

	<table class="t-icon" width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td class="t-icon__icon t-icon__icon--pr">
					<img src="../img/icon-tick.png" alt="" width="16" height="16">
				</td>
				<td>
					Skladem
				</td>
			</tr>
		</tbody>
	</table> <!-- / t-icon -->

{% endblock %}
