<!DOCTYPE html>
	<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Newsletter</title>

		<!-- Defaultní styly -->
		<link rel="stylesheet" href="../css/style.css">

		<!-- Responzivní styly -->
		<!--[if !mso]><!-->
			<style>
				@media screen and (max-width: 599px) {
					img {
						max-width: 100% !important;
						height: auto !important;
					}

					a[href^="mailto"] {
						word-break: break-all;
					}

					col,
					.rwd-hide,
					.rwd-block-table-all .rwd-hide {
						display: none !important;
					}

					.rwd-full {
						width: 100% !important;
					}

					.rwd-block-table,
					.rwd-block-table > tbody,
					.rwd-block-table-all,
					.rwd-block-table-all tbody,
					.rwd-block-table-all table{
						width: 100% !important;
						display: block !important;
					}
					.rwd-block,
					.rwd-block-table > tbody > tr,
					.rwd-block-table > tbody > tr > td,
					.rwd-block-table > tbody > tr > th,
					.rwd-block-table-all tr,
					.rwd-block-table-all td,
					.rwd-block-table-all th {
						display: block !important;
						width: auto !important;
					}

					.rwd-clearfix {
						overflow: hidden;
					}

					.rwd-p-sm { padding: 20px !important; }
					.rwd-pl-sm { padding-left: 20px !important; }
					.rwd-pr-sm { padding-right: 20px !important; }
					.rwd-pt-sm { padding-top: 20px !important; }
					.rwd-pb-sm { padding-bottom: 20px !important; }

					.rwd-p-0 { padding: 0px !important; }
					.rwd-pl-0 { padding-left: 0px !important; }
					.rwd-pr-0 { padding-right: 0px !important; }
					.rwd-pt-0 { padding-top: 0px !important; }
					.rwd-pb-0 { padding-bottom: 0px !important; }

					.rwd-m-sm { margin: 20px !important; }
					.rwd-ml-sm { margin-left: 20px !important; }
					.rwd-mr-sm { margin-right: 20px !important; }
					.rwd-mt-sm { margin-top: 20px !important; }
					.rwd-mb-sm { margin-bottom: 20px !important; }

					.rwd-m-0 { margin: 0px !important; }
					.rwd-ml-0 { margin-left: 0px !important; }
					.rwd-mr-0 { margin-right: 0px !important; }
					.rwd-mt-0 { margin-top: 0px !important; }
					.rwd-mb-0 { margin-bottom: 0px !important; }

					.rwd-ta-center { text-align: center !important; }
					.rwd-ta-left { text-align: left !important; }
					.rwd-ta-right { text-align: right !important; }

					/* CUSTOM CSS */
				}
			</style>
		<!--<![endif]-->

	</head>
	<body>
		<div class="t-preheader"> <!-- / prodloužený text e-mailu -->
			Prodloužený předmět newsletteru
		</div>

		<table class="t-wrap" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td align="center">
						<table class="t-container" width="600" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td class="u-pl-sm u-pr-sm">
										<table class="t-header" width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td class="t-header__logo">
														<p>
															<a href="https://superkoders.com">
																<img src="../img/logo-superkoders.png" alt="" width="242" height="15">
															</a>
														</p>
													</td>
												</tr>
											</tbody>
										</table> <!-- / t-header -->

										{% block content %}{% endblock %}

										<table class="t-footer" width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td>
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td>
																		<p>
																			&copy; 2019
																		</p>
																	</td>
																	<td class="u-ta-right">
																		<p>
																			<a href="https://superkoders.com">
																				Odhlásit se z odběru
																			</a>
																		</p>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table> <!-- / t-footer -->
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table> <!-- / t-wrap -->

		<img src="../img/spacer.png" alt="" width="600" height="1" class="img-gmail-fix rwd-hide">
	</body>
</html>
