.t-icon {
	width: auto;
	td {
		vertical-align: middle;
	}
	img {
		vertical-align: middle;
	}
	&__icon {
		width: 20px;
		text-align: center;
		font-size: 0px;
		line-height: 1;
	}

	// MODIFICATORS
	&__icon--pr {
		padding-right: 5px;
	}
}
