@use 'base/variables';

// vertical align
.u-va-top {
	vertical-align: top; // případně atribut valign="top"
}
.u-va-middle {
	vertical-align: middle; // případně atribut valign="middle"
}
.u-va-bottom {
	vertical-align: bottom; // případně atribut valign="bottom"
}

// font & text
.u-tt-upper {
	text-transform: uppercase;
}

.u-ta-left {
	text-align: left;
}
.u-ta-center {
	text-align: center;
}
.u-ta-right {
	text-align: right;
}

.u-fs-italic {
	font-style: italic;
}
.u-fs-normal {
	font-style: normal;
}

.u-fw-bold {
	font-weight: bold;
}
.u-fw-normal {
	font-weight: normal;
}

// padding
.u-pl-0 {
	padding-left: 0;
}
.u-pl-xs {
	padding-left: 10px;
}
.u-pl-sm {
	padding-left: 20px;
}
.u-pl-md {
	padding-left: 40px;
}

.u-pr-0 {
	padding-right: 0;
}
.u-pr-xs {
	padding-right: 10px;
}
.u-pr-sm {
	padding-right: 20px;
}
.u-pr-md {
	padding-right: 40px;
}

.u-pt-0 {
	padding-top: 0;
}
.u-pt-xs {
	padding-top: 10px;
}
.u-pt-sm {
	padding-top: 20px;
}
.u-pt-md {
	padding-top: 40px;
}

.u-pb-0 {
	padding-bottom: 0;
}
.u-pb-xs {
	padding-bottom: 10px;
}
.u-pb-sm {
	padding-bottom: 20px;
}
.u-pb-md {
	padding-bottom: 40px;
}

// margin
.u-ml-auto { // potřeba kombinovat s align="right"
	margin-left: auto;
}
.u-mr-auto { // potřeba kombinovat s align="left"
	margin-right: auto;
}
.u-mx-auto {  // potřeba kombinovat s align="center"
	margin-left: auto;
	margin-right: auto;
}

.u-mb-0 {
	margin-bottom: 0;
}
.u-mb-xs {
	margin-bottom: 10px;
}
.u-mb-sm {
	margin-bottom: 20px;
}
.u-mb-md {
	margin-bottom: 40px;
}

// background
.u-bg-grey {
	background: variables.$color-bg;
}
.u-bg-primary {
	background: variables.$color-primary;
}
.u-bg-secondary {
	background: variables.$color-secondary;
}

// width
.u-w-50p {
	width: 270px;
}
.u-w-33p {
	width: 173px;
}
.u-w-25p {
	width: 125px;
}

// color
.u-c-white {
	color: #fff;
	a,
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: #fff;

	}
}
.u-c-primary {
	color: variables.$color-primary;
	a,
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: variables.$color-primary;
	}
}
.u-c-secondary {
	color: variables.$color-secondary;
	a,
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: variables.$color-secondary;
	}
}
