{% set background = '#f90' %}
{% set color = '#000000' %}

{% if props.type == 'youtube' %}
	{% set background = '#FF0000' %}
	{% set color = '#FFFFFF' %}
{% elseif props.type == 'facebook' %}
	{% set background = '#4267B2' %}
	{% set color = '#FFFFFF' %}
{% endif %}

<div><!--[if mso]>
<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ props.href }}" style="height:40px;v-text-anchor:middle;width:{{ props.width|default(190) }}px;" stroke="f" fillcolor="{{ background }}">
	<w:anchorlock/>
	<center>
<![endif]-->
	<a href="{{ props.href }}" style="background-color:{{ background }};color:{{ color }};display:inline-block;font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:{{ props.width|default(190) }}px;-webkit-text-size-adjust:none;">{{ props.label }}</a>
<!--[if mso]>
	</center>
</v:rect>
<![endif]--></div>
