<table class="t-helper rwd-block-table{% if props.modifier %} {{ props.modifier }}{% endif %}" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td class="t-helper__inner u-pb-{{ props.spacingBottom|default('md') }}{% if props.modifier %} {{ props.modifier }}__inner{% endif %}">
				{{ block('content') }}
			</td>
		</tr>
	</tbody>
</table> <!-- / content -->
